<footer class="footer">
    <div class="container">
        <div class="footer__top d-flex">
            <h3 class="footer__title title title_h3">Будь в курсе наших новостей и Акций</h3>
            <form action="#" class="footer__form form d-flex">
                <div class="form__group">
                    <input type="text" class="form__input" placeholder="Ваш e-mail">
                </div>
                <button class="form__btn btn d-flex">
                    <i class="btn__icon icon icon-mail"></i>
                    <span class="btn__text">Подписаться</span>
                </button>
            </form>
        </div>
    </div>
</footer>

<script src="js/main.js"></script>
</body>

</html>