<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="fonts/BebasNeue.css">
    <link rel="stylesheet" href="fonts/intro.css">
    <link rel="stylesheet" href="fonts/AvenirNextCyr.css">
    <link rel="stylesheet" href="css/main.css">
    <title>test</title>
</head>

<body>
    <header class="header">
        <div class="header__top">
            <div class="header__container container">
                <ul class="header__menu menu d-flex">
                    <li class="menu__item">
                        <a href="#" class="menu__link">О нас</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Доставка/оплата</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Как заказать</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Отзывы</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Оптовым клиентам</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Акции</a>
                    </li>
                    <li class="menu__item">
                        <i class="menu__icon icon"></i>
                        <a href="#" class="menu__link menu__link_border-btm menu__link_arrow-down">Санкт-Петербург</a>
                        <ul class="menu__dropdown">
                            
                        </ul>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Контакты</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link menu__link_border-btm">Личный кабинет</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header__container container">
            <div class="header__content">
                <div class="header__center d-flex">
                    <div class="header__item">
                        <img src="../img/logo.png" alt="" class="header__logo">
                    </div>
                        <div class="header__item header__item_flex-column d-flex">
                            <a href="#" class="header__phone phone">+7 (812) <span class="phone__big">123-45-67</span></a>
                            <a href="#" class="header__callback callback">Заказать звонок</a>
                        </div>
                        <div class="header__item header__item_flex-column d-flex">
                            <a href="#" class="header__phone phone"><span class="phone__big">8 800 123-45-67</span></a>
                            <div href="#" class="header__time time-work">время работы: <span class="time-work__info">пн-пт, 9:00-20:00</span></div>
                        </div>
                        <div class="header__item">
                            <ul class="header__social social d-flex">
                                <a href="#" class="social__link">fb</a>
                                <a href="#" class="social__link">vk</a>
                                <a href="#" class="social__link">inst</a>
                            </ul>
                        </div>
                        <div class="header__item d-flex">
                            <button href="#" class="header__search search">search</button>
                            <a href="#" class="header__basket basket">
                                <p class="basket__figure">
                                    <span class="basket__count">15</span>
                                </p>
                            </a>
                        </div>
                    </div>
                    <nav class="header__bottom nav">
                        <ul class="nav__list d-flex">
                            <li class="nav__item nav__item_flex-col d-flex">
                                <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_one icon"></i>
                                <span class="nav__text">Орехи</span>
                            </a>
                            </li>
                            <li class="nav__item nav__item_flex-col d-flex">
                                <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_one icon"></i>
                                <span class="nav__text">Cухофрукты</span>
                            </a>
                            </li>
                            <li class="nav__item nav__item_flex-col d-flex">
                                <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_one  icon"></i>
                                <span class="nav__text">Цукаты</span>
                            </a>
                            </li>
                            <li class="nav__item nav__item_flex-col d-flex">
                                <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_one  icon"></i>
                                <span class="nav__text">Сладости</span>
                            </a>
                            </li>
                            <li class="nav__item nav__item_flex-col d-flex">
                                <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_one  icon"></i>
                                <span class="nav__text">Мёд/Варенье</span>
                            </a>
                            </li>
                            <li class="nav__item nav__item_flex-col d-flex">
                                <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_one  icon"></i>
                                <span class="nav__text">Чай/Кофе</span>
                            </a>
                            </li>
                            <li class="nav__item nav__item_flex-col d-flex">
                                <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_one  icon"></i>
                                <span class="nav__text">Пряности</span>
                            </a>
                            </li>
                            <li class="nav__item nav__item_flex-col d-flex">
                                <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_one  icon"></i>
                                <span class="nav__text">Сушеные ягоды и грибы</span>
                            </a>
                            </li>
                            <li class="nav__item nav__item_flex-col d-flex">
                                <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_one  icon"></i>
                                <span class="nav__text">Подарочные наборы</span>
                            </a>
                            </li>
                            <li class="nav__item nav__item_flex-col d-flex">
                                <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_one  icon"></i>
                                <span class="nav__text">Царская подписка</span>
                            </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>