<header class="header">
    <div class="header__container container">
        <div class="header__grid d-flex">
            <nav class="menu header__menu d-flex">
                <div class="menu__item">
                    <a href="#" class="menu__link">search tickets</a>
                </div>
                <div class="menu__item">
                    <a href="#" class="menu__link">sapsan</a>
                </div>
                <div class="menu__item">
                    <a href="#" class="menu__link">allegro</a>
                </div>
                <div class="menu__item menu__item_dropdown">
                    <a href="#" class="menu__link">trans-siberian</a>
                    <ul class="list menu__list">
                        <li class="list__item">
                            <a href="#" class="list__link">allegro</a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link">allegro</a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link">allegro</a>
                        </li>
                    </ul>
                </div>
                <div class="menu__item menu__item_dropdown">
                    <a href="#" class="menu__link">faq</a>
                    <ul class="list menu__list">
                        <li class="list__item">
                            <a href="#" class="list__link">allegro</a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link">allegro</a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link">allegro</a>
                        </li>
                    </ul>
                </div>
                <div class="menu__item menu__item_dropdown">
                    <a href="#" class="menu__link">tickets guide</a>
                    <ul class="list menu__list">
                        <li class="list__item">
                            <a href="#" class="list__link">allegro</a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link">allegro</a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link">allegro</a>
                        </li>
                    </ul>
                </div>
                <div class="menu__item menu__item_dropdown">
                    <a href="#" class="menu__link">contact us</a>
                    <ul class="list menu__list">
                        <li class="list__item">
                            <a href="#" class="list__link">allegro</a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link">allegro</a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link">allegro</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <a href="#" class="menu__signin">
                <span class="menu__signin_text">Sign in</span>
            </a>
            <!-- menu mobile -->
            <div class="hamburger" id="hamburger-1">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>
    </div>
</header>
