<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="fonts/BebasNeue.css">
    <link rel="stylesheet" href="fonts/intro.css">
    <link rel="stylesheet" href="fonts/AvenirNextCyr.css">
    <link rel="stylesheet" href="css/main.css">
    <title>test</title>
</head>

<body>
    <header class="header header_box-shadow">
        <div class="header__top">
            <div class="header__container container">
                <ul class="header__menu menu d-flex">
                    <li class="menu__item">
                        <a href="#" class="menu__link">О нас</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Доставка/оплата</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Как заказать</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Отзывы</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Оптовым клиентам</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Акции</a>
                    </li>
                    <li class="menu__item menu__item_border-left">
                        <i class="menu__icon icon-sprite icon-icon-point"></i>
                        <a href="#" class="menu__link  menu__link_border-btm menu__link_arrow-down">Санкт-Петербург</a>
                        <ul class="menu__dropdown drop-city">
                            <li class="drop-city__item d-flex">
                                <i class="menu__icon icon-sprite icon-icon-point"></i>
                                <a href="#" class="drop-city__link">Москва</a>
                            </li>
                            <li class="drop-city__item d-flex">
                                <i class="menu__icon icon-sprite icon-icon-point"></i>
                                <a href="#" class="drop-city__link">Нижний Новгород</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Контакты</a>
                    </li>
                    <li class="menu__item menu__item_border-left">
                        <i class="menu__icon icon-sprite icon-person"></i>
                        <a href="#" class="menu__link menu__link_border-btm">Личный кабинет</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header__container container">
            <div class="header__content">
                <div class="header__center d-flex">
                    <div class="header__logo-box">
                        <a href="index.html">
                            <img src="../img/logo.png" alt="" class="header__logo">
                        </a>
                    </div>
                    <div class="header__item header__item_phone h-item h-item_center d-flex">
                        <i class="icon-sprite icon-callback-orange"></i>
                        <div class="h-item__block header__item_flex-column d-flex">
                            <a href="#" class="header__phone phone">+7 (812) <span class="phone__big">123-45-67</span></a>
                            <a href="#" class="header__callback callback" data-remodal-target="modal-callback">Заказать звонок</a>
                        </div>
                    </div>
                    <div class="header__item header__item_phone header__item_flex-column d-flex">
                        <a href="#" class="header__phone phone"><span class="phone__big">8 800 123-45-67</span></a>
                        <div href="#" class="header__time time-work">время работы: <span class="time-work__info">пн-пт, 9:00-20:00</span></div>
                    </div>
                    <ul class="header__social social social_borders d-flex">
                        <a href="#" class="social__link icon-sprite icon-fb"></a>
                        <a href="#" class="social__link icon-sprite icon-vk"></a>
                        <a href="#" class="social__link icon-sprite icon-insta"></a>
                    </ul>
                    <div class="header__item d-flex">
                        <form action="#" class="search-box">
                            <input type="text" name="search" placeholder="Орехи интересуют?" class="search-input" />
                            <button href="#" class="header__search search search-btn">
                                <i class="icon-sprite icon-search"></i>
                            </button>
                        </form>
                        <div class="header__basket basket">
                            <a href="basket.html" class="basket__link">
                                <i class="icon-sprite icon-basket"></i>
                                <p class="basket__figure">
                                    <span class="basket__count">15</span>
                                </p>
                            </a>
                            <div class="m-basket">
                                <div class="m-basket__content d-flex">
                                    <div class="m-basket__item d-flex">
                                        <img src="img/basket-image.jpg" alt="Изображение товара" class="m-basket__image">
                                        <a href="#" class="m-basket__name">Миндаль не жаренный</a>
                                        <div class="m-basket__right d-flex">
                                            <div class="m-basket__price">500р</div>
                                            <div class="m-basket__quantity quantity">
                                                <input type="number" class="quantity__input" min="1" max="9" step="1" value="1">
                                            </div>
                                        </div>
                                        <a href="#" class="m-basket__delete"></a>
                                    </div>
                                    <div class="m-basket__item d-flex">
                                        <img src="img/basket-image.jpg" alt="Изображение товара" class="m-basket__image">
                                        <a href="#" class="m-basket__name">Миндаль не жаренный</a>
                                        <div class="m-basket__right d-flex">
                                            <div class="m-basket__price">500р</div>
                                            <div class="m-basket__quantity quantity">
                                                <input type="number" class="quantity__input" min="1" max="9" step="1" value="1">
                                            </div>
                                        </div>
                                        <a href="#" class="m-basket__delete"></a>
                                    </div>
                                </div>
                                <div class="m-basket__bottom">
                                    <p class="m-basket__total">Итого:<span class="m-basket__value">1250р</span></p>
                                    <a href="#" class="m-basket__btn btn">
                                        <i class="btn__icon icon-sprite icon-btn-gift"></i>
                                        <span class="btn__text">Перейти в корзину</span>
                                    </a>
                                </div>
                                <button class="m-basket__close"></button>
                            </div>
                        </div>
                    </div>
                    <div class="hamburger" id="hamburger-6">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
                <nav class="header__bottom nav mobile-sidebar">
                    <div class="mobile-sidebar__contact d-flex">
                        <a href="tel:88001234567" class="mobile-sidebar__phone phone"><span class="phone__big">8 800 123-45-67</span></a>
                        <a href="tel:+78121234567" class="mobile-sidebar__phone phone">+7 (812) <span class="phone__big">123-45-67</span></a>
                        <a href="#" class="mobile-sidebar__callback callback" data-remodal-target="modal-callback">Заказать звонок</a>
                    </div>
                    <div class="mobile-sidebar__city sidebar-city d-flex">
                        <div class="sidebar-city__item active">
                            <a href="#" class="sidebar-city__link">Cпб</a>
                        </div>
                        <div class="sidebar-city__item">
                            <a href="#" class="sidebar-city__link">Москва</a>
                        </div>
                    </div>
                    <ul class="nav__list d-flex">
                        <li class="nav__item nav__item_hover nav__item_flex-col d-flex">
                            <a href="#" class="nav__link">
                                <i class="nav__icon icon nav__icon_one"></i>
                                <span class="nav__text">Орехи</span>
                                <ul class="nav__dropdown nav-drop d-flex">
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Арахис</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon "></i>
                                            <span class="nav__text">Бразильский орех</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Грецкий орех</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Кедровый орех</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Кешью</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Макадамия</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Миндаль</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Пекан</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Фисташки</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Фундук</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Косточки абрикоса</span>
                                        </a>
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="nav__item nav__item_flex-col d-flex">
                            <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_icon-suhofrukti icon"></i>
                                <span class="nav__text">Cухофрукты</span>
                                <ul class="nav__dropdown nav-drop d-flex">
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Курага</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon "></i>
                                            <span class="nav__text">Персик</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Чернослив</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Яблоко</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Груша</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Урюк</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Инжир</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Изюм</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Финики</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Вишня</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Банан</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Ананас</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Кизил</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Клубника</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Манго</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Томаты</span>
                                        </a>
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="nav__item nav__item_flex-col d-flex">
                            <a href="#" class="nav__link">
                                <i class="nav__icon  nav__icon_icon-cucati icon"></i>
                                <span class="nav__text">Цукаты</span>
                                <ul class="nav__dropdown nav-drop d-flex">
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Вишня</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon "></i>
                                            <span class="nav__text">Клубника</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Киви</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Дыня</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Помела</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Папайя</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Кумкват</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Кокос</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Имбирь</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Ананас</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Яблоко</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Лимон</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Апельсин</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Томаты</span>
                                        </a>
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="nav__item nav__item_flex-col d-flex">
                            <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_icon-sladosti icon"></i>
                                <span class="nav__text">Сладости</span>
                                <ul class="nav__dropdown nav-drop d-flex">
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Орехи в шоколаде</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon "></i>
                                            <span class="nav__text">Сухофрукты в шоколаде</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Восточные сладости</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Конфеты</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Мармелад</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Сахар</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Зефир</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Батончики/снеки</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Шоколад</span>
                                        </a>
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="nav__item nav__item_flex-col d-flex">
                            <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_icon-med  icon"></i>
                                <span class="nav__text">Мёд/Варенье</span>
                                <ul class="nav__dropdown nav-drop d-flex">
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Варенье</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon "></i>
                                            <span class="nav__text">Джем</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Мёд</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Крем мёд</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Продукция пчеловодства</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Сгущенка</span>
                                        </a>
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="nav__item nav__item_flex-col d-flex">
                            <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_icon-tea icon"></i>
                                <span class="nav__text">Чай/Кофе</span>
                                <ul class="nav__dropdown nav-drop d-flex">
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Арабика</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon "></i>
                                            <span class="nav__text">Рабуста</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Кофейные капсулы</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Чай листовой</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Чай гранулированный</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Чай пакетированный</span>
                                        </a>
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="nav__item nav__item_flex-col d-flex">
                            <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_icon-prianosti icon"></i>
                                <span class="nav__text">Пряности</span>
                                <ul class="nav__dropdown nav-drop d-flex">
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Специи</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon "></i>
                                            <span class="nav__text">Травы</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Наборы приправ</span>
                                        </a>
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="nav__item nav__item_flex-col d-flex">
                            <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_icon-suchonie icon"></i>
                                <span class="nav__text">Сушеные ягоды и грибы</span>
                                <ul class="nav__dropdown nav-drop d-flex">
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">Сушеные грибы</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon "></i>
                                            <span class="nav__text">Сушеные ягоды</span>
                                        </a>
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="nav__item nav__item_flex-col d-flex">
                            <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_icon-podarochnie  icon"></i>
                                <span class="nav__text">Подарочные наборы</span>
                                <ul class="nav__dropdown nav-drop d-flex">
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon"></i>
                                            <span class="nav__text">200—700 руб</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon "></i>
                                            <span class="nav__text">700—1500 руб</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon "></i>
                                            <span class="nav__text">1500—3000 руб</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon "></i>
                                            <span class="nav__text">3000 руб</span>
                                        </a>
                                    </li>
                                    <li class="nav-drop__item d-flex">
                                        <a href="#" class="nav__link">
                                            <i class="nav__icon nav__icon_one icon "></i>
                                            <span class="nav__text">Подарки на заказ</span>
                                        </a>
                                    </li>
                                </ul>
                            </a>
                        </li>
                        <li class="nav__item nav__item_hover-normal nav__item_flex-col d-flex">
                            <a href="#" class="nav__link">
                                <i class="nav__icon nav__icon_icon-carskiy-podpison icon"></i>
                                <span class="nav__text">Царская подписка</span>
                            </a>
                        </li>
                    </ul>
                    <!-- menu mobile -->
                    <ul class="mobile-sidebar__menu menu d-flex">
                        <li class="menu__item">
                            <a href="#" class="menu__link">О нас</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Доставка/оплата</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Как заказать</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Отзывы</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Оптовым клиентам</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Акции</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Контакты</a>
                        </li>
                    </ul>
                    <ul class="mobile-sidebar__social social d-flex">
                        <a href="#" class="social__link icon-sprite icon-fb"></a>
                        <a href="#" class="social__link icon-sprite icon-vk"></a>
                        <a href="#" class="social__link icon-sprite icon-insta"></a>
                    </ul>
                    <!-- / menu mobile / -->
                </nav>
            </div>
        </div>
        </div>
        <!-- <div class="header__back-bottom"></div> -->
    </header>
    <!DOCTYPE html>
