/*= ../../bower_components/owl.carousel/dist/assets/owl.carousel.min.css*/
/*= ../../bower_components/owl.carousel/dist/assets/owl.theme.default.css*/
/*= ../../bower_components/select2/dist/css/select2.min.css*/

@import "partials/vars";
@import "partials/mixin";
@import "partials/select2";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    margin-right: 0 !important;
    overflow-x: hidden;
}

p {
    margin: 0px 0px 10px;
}

a {
    color: #3a3a3a;
    cursor: pointer;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

body {
    font-family: 'AvenirNextCyr';
    font-weight: normal;
    font-style: normal;
    width: 100%;
    min-width: 320px;
    position: relative;
    z-index: 20;
    font-size: 18px;
    line-height: normal;
    background-color: #ffffff;
    color: #292929;
}

.box-center {
    text-align: center
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.main {
    position: relative;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1130px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

// titles

.title-box {
    align-items: center;
}

.title {
    color: #292929;
    font-weight: normal;
    margin: 0px;
    text-transform: uppercase;

    &_h1 {
        font-size: 117px;
        line-height: 94px;
        letter-spacing: -.010em;
        color: #fff;
        font-family: 'BebasNeueBook';
    }

    &_h2 {
        font-family: 'AvenirNextCyr';
        font-weight: 100;
        font-style: normal;
        font-size: 60px;
        letter-spacing: .025em;
    }

    &_h3 {
        font-family: 'AvenirNextCyr';
        font-size: 34px;
        letter-spacing: .025em;
        font-weight: 300;
        font-style: normal;
    }

    &_h4 {
        font-family: 'AvenirNextCyr';
        font-size: 22px;
        letter-spacing: .025em;
        font-weight: 300;
        font-style: normal;
    }

    &_text-trans_none {
        text-transform: none;
    }
}

// titles default
h1 {
    margin-top: 20px;
    margin-bottom: 30px
}

h2 {
    margin-top: 20px;
    margin-bottom: 30px;
}

h3,
h4,
h5,
h6 {
    margin-top: 15px;
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'BebasNeueBook';
    font-weight: normal;
}

// buttons
.btn {
    position: relative;
    color: $yellow;
    font-weight: 500;
    border: 1px solid $yellow;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-size: 12px;
    letter-spacing: .025em;
    text-transform: uppercase;
    min-height: 45px;
    padding: 5px 25px;
    background-color: transparent;
    cursor: pointer;

    &_gradient-yellow {
        background: linear-gradient(90deg, #f2a236, #f6bf45);
    }

    &_bgr-orange {
        background-color: #ff5400;
        color: #fff;
    }

    &_bgr-yellow {
        background-color: #f19b32;
        color: #fff;
    }

    &__icon {
        margin-right: 10px;
    }

    &_round-right-small {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 12px;
            height: 44px;
            background-image: url(../img/rounded-right_small.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100%;
            right: -10%;
        }
    }

    &_round-right-big {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 18px;
            height: 67px;
            background-image: url(../img/rounded-right_big.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100%;
            right: -10%;
        }
    }

    &_border-right {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 23px;
            height: 125%;
            background: transparent;
            border: 1px solid #f19b32;
            border-radius: 0 20px 20px 0;
            border-radius: 0px 25px 25px 0px/0px 25px 25px 0px;
            border-left: none;
            right: -20%;
        }
    }

    &_border-left {
        &:before {
            // content: '';
            // background-image: linear-gradient(to right, #c3c3c3 30%, rgba(255, 255, 255, 0) 0);
            // background-position: left;
            // background-size: 4px 1px;
            // background-repeat: repeat-x;
            // width: 18px;
            // height: 2px;
            // transform: rotate(-76deg);
            // margin-left: 15px;
        }
    }
}

.border {
    background-image: linear-gradient(to right, #cfcfcf 30%, rgba(255, 255, 255, 0) 0);
    background-position: left;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    width: 60px;
    height: 2px;
    transform: rotate(-76deg);
    margin-left: 15px;
}

.header {
    position: relative;
    z-index: 100;

    &_box-shadow {
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    }

    &__back-bottom {
        position: absolute;
        height: 153px;
        width: 100%;
        background-color: #fff;
        background-image: url(../img/header-back-bottom.png);
        background-repeat: repeat-x;
        background-size: contain;
        opacity: .1;
        z-index: -1;
        top: 100%;
    }

    &__top {
        min-height: 60px;
        background-color: #353535;
        background-image: url(../img/header__top_back.png);
        background-repeat: repeat;
        background-position: center center;
        background-size: contain;
    }

    &__center {
        justify-content: space-between;
        align-items: center;
    }

    &__bottom {
        margin: 44px 0px 0px;
        margin-left: -15px;
        margin-right: -15px;
    }

    &__content {
        padding: 37px 0px 35px;
    }

    &__container {
        min-height: inherit;
    }

    &__menu {
        align-items: center;
        min-height: inherit;
        justify-content: space-between;

        &_icon-point {
            &:after {
                content: '';
                background-image: url(../img/sprite.png);
                background-position: -138px -123px;
            }
        }
    }

    &__item {
        &_flex-column {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__basket {
        margin-left: 15px;
    }
}

.h-item {
    &_center {
        align-items: center;
    }

    &__block {
        margin-left: 10px;
    }
}

.drop-city {
    list-style: none;
    position: absolute;
    top: 30px;
    left: 0;
    min-width: 200px;
    min-height: auto;
    background-color: rgba(#000, 0.8);
    z-index: 200;
    padding: 16px 20px 2px;
    box-shadow: 0px 15px 65px 0px rgba(0, 0, 0, 0.17), 0px 15px 65px 0px rgba(0, 0, 0, 0.17);
    border-radius: 10px;
    opacity: 0;
    top: -100%;
    transition: all .35s cubic-bezier(.25, .46, .45, .94), transform .85s cubic-bezier(.25, .46, .45, .94);
    transform: rotate(-15deg) translateY(-100%);

    &__item {
        border-bottom: 1px dashed #eee;
        padding-bottom: 4px;
        margin-bottom: 8px;
    }

    &__link {
        color: #fff;
        font-size: 15px;
        display: block;
        margin-left: 8px;

        &:hover {
            color: #f4b03d;
        }
    }
}

.menu__item:hover .menu__link,
.menu__item:focus .menu__link {
    color: #f4b03d;
}

.menu__item:hover .drop-city {
    opacity: 1;
    top: 25px;
    transition: all .35s cubic-bezier(.25, .46, .45, .94), transform .85s cubic-bezier(.25, .46, .45, .94);
    transform: rotate(0deg) translateY(0);
}

.menu__item:hover .menu__link_arrow-down:after {
    border-width: 2px 0px 0px 2px;
    top: 2px;
    transition: border .85s cubic-bezier(.25, .46, .45, .94);
}

.menu {
    list-style: none;

    &__item {
        position: relative;

        &_border-left:after {
            content: '';
            position: absolute;
            left: -20px;
            top: 10%;
            background-image: linear-gradient(to right, #dedede 10%, rgba(255, 255, 255, 0) 0);
            background-position: left;
            background-size: 8px 2px;
            background-repeat: repeat-y;
            align-items: center;
            width: 1px;
            height: 100%;
            transform: rotate(20deg);
            background-color: transparent;
        }
    }

    &__link {
        font-size: 14px;
        line-height: normal;
        font-weight: 500;
        color: #fff;
        letter-spacing: -.025em;

        &_border-btm {
            padding-bottom: 3px;
            border-bottom: 1px dashed #c5c5c5;
        }

        &_arrow-down {
            transition: border .85s cubic-bezier(.25, .46, .45, .94);

            &:after {
                content: '';
                display: inline-block;
                vertical-align: middle;
                border: solid #fff;
                border-width: 0 2px 2px 0;
                position: relative;
                top: -2px;
                display: inline-block;
                padding: 2px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                margin-left: 5px;
            }
        }
    }
}

.search {
    border-radius: 50%;
    border: 1px solid;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket {
    border-radius: 50%;
    border: 1px solid;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;

    &__figure {
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translateY(-50%);
        min-width: 25px;
        height: 20px;
        display: inline-block;
        background-color: #fff;
        border: 1px solid $yellow;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    &__count {
        font-size: 11px;
        letter-spacing: .025em;
        font-family: 'Intro';
        font-weight: 700;
        color: $yellow;
    }
}

.breadcrumbs {
    margin: 44px 0px 0px;
    font-weight: 700;
    font-size: 14px;
    color: #8d8d8d;

    &__item {
        &:after {
            content: '/';
            margin: 0px 10px;
            font-size: inherit;
            font-weight: 300;
            text-decoration: none;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    &__link {
        color: #8d8d8d;
    }
}

.phone {
    color: #3a3a3a;
    font-family: 'Intro';
    font-size: 16px;

    &__big {
        font-size: 26px;
    }
}

.mail {
    font-family: 'Intro';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    letter-spacing: .025em;
    text-decoration: underline;
}

.callback {
    font-family: 'Intro';
    font-size: 10px;
    line-height: 16px;
    color: #393939;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .025em;
    border-bottom: 1px dashed #393939;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}

.time-work {
    font-family: 'Intro';
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .025em;
    line-height: 16px;
    font-weight: 700;
    font-style: normal;
    color: #8a8a8a;

    &__info {
        color: #393939;
    }
}

.nav {
    position: relative;

    &__list {
        justify-content: space-between;
    }

    &__icon {
        margin: 0 auto;
    }

    &__item {
        padding: 0px 15px;
        text-align: center;
        font-size: 12px;
        line-height: normal;
        flex: 1 1 auto;
        max-width: 135px;
        position: relative;
        z-index: 200;

        &:hover {
            &:before {
                content: '';
                position: absolute;
                background-color: #fff;
                width: 100%;
                height: calc(100% + 14px);
                padding: 10px 0px;
                z-index: -1;
                left: 0;
                top: -10px;
                box-shadow: 0px 15px 65px 0px rgba(0, 0, 0, 0.17), 0px 15px 65px 0px rgba(0, 0, 0, 0.17);
                border-radius: 15px 15px 0px 0px;
            }

            &:after {
                content: '';
                position: absolute;
                background: radial-gradient(circle at top right, transparent 15px, #fff) top left;
                background-size: 50% 50%;
                background-repeat: no-repeat;
                padding: 20px 1.2em;
                max-width: 12em;
                right: -27px;
                bottom: -20px;
                z-index: 210;
                height: 10px;
            }
        }

        &_flex-col {
            flex-direction: column;
        }
    }

    &__text {
        margin-top: 3px;
        display: block;
        text-transform: uppercase;
        color: #2d2d2d;
        font-weight: 500;
        font-style: normal;
    }

    &__dropdown {
        margin-left: -15px;
        margin-right: -15px;
        display: none;
    }
}

.nav__item_hover-normal {
    color: #f4b03d;

    &:before {
        display: none;
    }
}

.nav__item_hover-normal:hover .nav__text {
    color: #f4b03d;
}

.nav__item:hover .nav__dropdown {
    opacity: 1;
    display: flex;
}

.nav-drop {
    position: absolute;
    top: 77px;
    min-width: 200px;
    width: auto;
    background-color: #fff;
    box-shadow: 0px 30px 65px 0px rgba(0, 0, 0, 0.17);
    padding: 35px 5px;
    z-index: 200;
    border-radius: 0px 15px 15px 15px;

    &__item {
        padding: 0px 15px;
    }
}

.nav-drop .nav__text {
    text-transform: none;
}

.social {
    list-style: none;

    &_borders {
        position: relative;
        display: flex;
        align-items: center;

        &:before {
            content: '';
            left: 0px;
            top: 0;
            // background-image: linear-gradient(to right, #dfa278 10%, rgba(255, 255, 255, 0) 0);
            // background-position: left;
            // background-size: 8px 2px;
            // background-repeat: repeat-y;
            // align-items: center;
            // transform: rotate(20deg);
            // background-color: transparent;
            margin: 0px 10px;
            background-image: url(../img/sprite.png);
            background-position: 0px -56px;
            width: 21px;
            height: 63px;
        }

        &:after {
            content: '';
            right: 0px;
            top: 0%;
            // background-image: linear-gradient(to right, #dfa278 10%, rgba(255, 255, 255, 0) 0);
            // background-position: left;
            // background-size: 8px 2px;
            // background-repeat: repeat-y;
            // align-items: center;
            // width: 1px;
            // height: 65px;
            // transform: rotate(20deg);
            margin: 0px 10px;
            background-image: url(../img/sprite.png);
            background-position: 0px -56px;
            width: 21px;
            height: 63px;
        }
    }

    &__link {
        // width: 32px;
        // height: 32px;
        border-radius: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin: 0px 5px;
    }
}

.promo {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
    color: #fff;
    overflow: hidden;

    &__slider {
        position: absolute;
        max-width: 100%;
        // z-index: -1;
        left: 0;
        top: 0;
        width: 100%;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            // background-image: url(../img/promo__image_overlay.jpg.png);
            // background-repeat: no-repeat;
            background-position: center center;
            background-color: rgba(#000, 0.6);
            z-index: 1;
        }
    }

    &__slide {
        object-fit: cover;
        max-height: 748px;
        width: 100%;
    }

    &_back-red {
        &:after {
            content: '';
            position: absolute;
            background: rgba(#8f0101, 0.8);
            top: 0;
            right: 0;
            width: calc(50% - 100px);
            height: 100%;
            z-index: 2;
            border-bottom-left-radius: 10em 90em;
            border-top-left-radius: 10em 90em;
        }
    }

    &__description {
        font-family: 'BebasNeueBook';
        font-weight: normal;
        font-size: 38px;
        line-height: 38px;
        letter-spacing: .025em;
        padding-top: 38px;
        margin-top: 44px;
        background-image: linear-gradient(to right, #fff 10%, rgba(255, 255, 255, 0) 0);
        background-position: top;
        background-size: 8px 2px;
        background-repeat: repeat-x;
    }

    &__row {
        justify-content: space-between;
        height: 747px;
    }

    &__col {
        height: inherit;
        flex-direction: column;
        flex: 1 1 auto;
        position: relative;
        z-index: 4;

        &_vert-center {
            justify-content: center;
        }

        &_align-end {
            align-items: flex-end;
        }
    }

    &__pros {
        max-width: 370px;
    }
}

.owl-dots {
    position: absolute;
    bottom: 26px;
    z-index: 200;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    .owl-dot {
        width: 20px;
        height: 20px;
        // border: 1px solid #fff;
        border-radius: 50%;
        margin: 0px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.owl-dot span {
    width: 9px;
    height: 9px;
    background-color: #fff;
    border-radius: 50%;
}

.owl-dot.active {
    border: 1px solid #fff;
}

.promo__col.promo__col-text {
    max-width: 550px;
    flex: 1 1 auto;
}

.promo__col.promo__col-pros {
    flex: 1 1 450px;
    max-width: 450px;
}

.pros {
    font-family: 'BebasNeue';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
    color: #fff;

    &__circle {
        position: relative;
        min-width: 66px;
        min-height: 66px;
        max-width: 66px;
        max-height: 66px;
        border-radius: 50%;
        border: 2px dotted #fff;
        margin-right: 16px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item {
        align-items: center;
        margin-bottom: 70px;
    }

    &__text {
        letter-spacing: .035em;
    }
}

.catalog {
    margin: 45px 0px 0px;

    &__row {
        margin-top: 33px;
        margin-left: -7.5px;
        margin-right: -7.5px
    }

    &__item {
        width: 25%;
        min-width: 260px;
        margin-bottom: 65px;
        padding-right: 7.5px;
        padding-left: 7.5px;
    }

    &__name {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
    }

    &__content {
        margin-top: 14px;
        padding: 0px 15px;
        transition: all .35s cubic-bezier(.25, .46, .45, .94);

        &_fw-medium {
            font-weight: 500;
            transition: all .35s cubic-bezier(.25, .46, .45, .94);
        }
    }

    &__text {
        margin-top: 10px;
        font-size: 14px;
        letter-spacing: -.010em;
    }

    &__using {
        justify-content: space-between;
        align-items: center;
        margin-top: 19px;
    }

    &__image {
        border-radius: 0.5em 0.5em 7.6em 7.6em/ 0.5em 0.5em 1.1em 1.1em;
    }

    &__price {
        flex-direction: column;
    }

    &__more {
        text-align: center;
        position: relative;
        width: 200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-weight: 700;
        font-size: 11px;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: .025em;
        text-decoration-style: dashed;

        &:after {
            content: '';
            position: relative;
            top: -45px;
            width: 140px;
            min-height: 75px;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
            border: 1px dashed gray;
            border-top: 0;
        }

        &:before {
            content: '';
            border: solid #000;
            border-width: 0 1px 1px 0;
            position: relative;
            top: -2px;
            display: inline-block;
            padding: 4px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            margin-bottom: 6px;
        }
    }

    &__basket {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 1px solid $yellow;
        position: relative;
        cursor: pointer;
    }

    &__top {
        position: relative;
        overflow: hidden;
    }

    &__status {
        background-position: center center;
        background-size: contain;
        position: absolute;
        right: 0;
        bottom: 22px;

        &_best {
            background-image: url(../img/best-price.png);
            width: 139px;
            height: 44px;
        }

        &_discount {
            background-image: url(../img/discount.png);
            width: 112px;
            height: 55px;
            right: -12px;
        }
    }
}

.catalog__basket .catalog__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-price {
    &__select {
        font-size: 16px;
        border: none;
        outline: none;
        border-bottom: 1px dashed #6f6f6f;
        position: relative;

        &:after {
            content: '';
            vertical-align: middle;
            border: solid #6f6f6f;
            border-width: 0 1px 1px 0;
            position: relative;
            top: -2px;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            margin-left: 4px;
        }
    }

    &__value {
        font-weight: 700;
        letter-spacing: -.025em;
    }
}

.precent {
    margin: 16px 0px 0px;
    background-image: url(../img/feedback__image_one.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 80px 0px 58px;

    &__col {
        width: 50%;
        flex: 0;
    }

    &__form {
        width: 460px;
        max-width: 100%;
    }

    &__row {
        justify-content: space-between;
    }

    &__title {
        font-size: 150px;
        line-height: 120px;
        letter-spacing: -.025em;
        font-family: 'BebasNeueBook';
        color: #fff;
    }
}

.form {
    &__group {
        margin-bottom: 22px;
    }

    &__input {
        width: 100%;
        height: 60px;
        font-size: 22px;
        letter-spacing: -.015em;
        border: none;
        padding: 0px 20px;
        border-radius: 30px;
    }

    &__btn {
        font-weight: bold;
        color: $mainColor;
        background: linear-gradient(90deg, #f2a236, #f6bf45);
        min-height: 60px;
        border-radius: 30px;
        font-size: 16px;
        border: none;
    }
}

.advs {
    margin: 54px 0px 0px;

    &__col {
        width: auto;
        position: relative;
        width: 240px;
        min-height: 89px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        min-width: 149px;
        padding-left: 5px;
        padding-right: 5px;

        &:last-child {
            &:before {
                display: none;
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 28%;
            right: -48%;
            transform: translate(-50%, -50%);
            background-image: linear-gradient(to right, #000 10%, rgba(255, 255, 255, 0) 0%);
            background-position: bottom;
            background-size: 6px 1px;
            background-repeat: repeat-x;
            width: 81px;
            height: 2px;
        }
    }

    &__row {
        justify-content: space-between;
        margin-top: 29px;
        align-items: flex-end;
        margin-left: -20px;
        margin-right: -20px;
    }

    &__item {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    &__text {
        margin-top: 20px;
        font-weight: 700;
        font-size: 11px;
        text-transform: uppercase;
    }
}

.goods {
    margin: 52px 0px 0px;

    &__item {
        width: 20%;
        margin-bottom: 49px;
        padding-right: 7.5px;
        padding-left: 7.5px;

        &_width-25 {
            width: 25%;
        }
    }

    &__head {
        position: relative;
    }

    &__image {
        object-fit: cover;
        height: 203px;
        border-radius: 0.5em 0.5em 7.6em 7.6em/ 0.5em 0.5em 1.1em 1.1em;
    }

    &__circle {
        position: absolute;
        width: 135px;
        height: 135px;
        border-radius: 50%;
        border: 2px dotted #fff;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    &__name {
        text-align: center;
        margin-top: 18px;
        font-size: 16px;
        font-weight: 700;
    }

    &__row {
        margin-top: 34px;
        margin-left: -7.5px;
        margin-right: -7.5px;
    }
}

.recipe {
    padding: 106px 0px 105px;
    background-image: url(../img/feedback__image_two.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 27px 0px 0px;

    &_bgr-catalog {
        background-image: url(../img/catalog-recipe_back.jpg);
    }

    &__row {
        width: 1035px;
        margin: 0 auto;
        justify-content: space-between;
        margin-top: 22px;
    }

    &__title {
        margin: 0px;
        font-family: 'BebasNeueBook';
        font-size: 72px;
        letter-spacing: -.010em;
        color: #fff;
        text-align: center;
    }

    &__btn {
        margin: 40px auto 0px;
    }
}

.recipe__row .form__group {
    margin: 0px 40px;
    width: 100%;
}

.news {
    margin: 55px 0px 0px;

    &__description {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -.010em;
        margin-top: 23px;
    }

    &__row {
        margin-top: 38px;
        margin-left: -7.5px;
        margin-right: -7.5px;
    }

    &__item {
        width: 33.33%;
        padding-right: 7.5px;
        padding-left: 7.5px;
        margin-bottom: 66px;
    }

    &__image {
        width: 100%;
        height: 225px;
        object-fit: cover;
        border-radius: 0.5em 0.5em 7.6em 7.6em/ 0.5em 0.5em 1.1em 1.1em;
    }

    &__date {
        color: #b8b8b8;
        letter-spacing: -.025em;
        font-size: 14px;

        &:before {
            content: '';
            display: inline-block;
            vertical-align: bottom;
            margin-right: 5px;
            background-image: url(../img/sprite.png);
            background-position: -242px -138px;
            width: 14px;
            height: 16px;
        }
    }

    &__name {
        margin-top: 8px;
        font-weight: 700;
        font-size: 16px;
    }

    &__text {
        margin-top: 8px;
        font-size: 14px;
        letter-spacing: -.010em;
    }

    &__info {
        padding-bottom: 20px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
            background-position: bottom;
            background-size: 6px 1px;
            background-repeat: repeat-x;
            background-origin: padding-box;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 100%;
            height: 1px;
        }
    }

    &__content {
        margin-top: 20px;
        padding: 0px 15px 0px;
        position: relative;
    }

    &__more {
        font-size: 14px;
        font-weight: 700;
        margin-top: 24px;
        display: inline-block;
        vertical-align: middle;

        &:before {
            content: '';
            display: inline-block;
            vertical-align: bottom;
            margin-right: 5px;
            background-image: url(../img/sprite.png);
            background-position: -37px -179px;
            width: 17px;
            height: 16px;
        }
    }


}

.footer {
    // margin-top: 65px;
    background-color: #353535;
    background-image: url(../img/footer_back.png);
    background-repeat: repeat;
    background-position: center center;
    background-size: contain;
    color: #fff;
    overflow-x: hidden;

    &__top {
        align-items: center;
        min-height: 130px;
        padding: 20px 0px;
    }

    &__bottom {
        padding: 53px 0 32px;
        justify-content: space-between;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: -100%;
            right: auto;
            background-color: rgba(#1e1e1e, 0.5);
            width: 1000%;
            height: 100%;
            z-index: -1;
        }
    }

    &__menu {
        list-style: none;
    }

    &__col {
        padding-left: 15px;
        padding-right: 15px;
    }

    &__title {
        color: #fff;
        flex: 0 0 auto;
        width: 252px;
    }

    &__form {
        align-items: flex-start;
        flex: 1 1 auto;
    }

    &__item {
        &_flex-column {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__phone {
        color: #fff;
    }

    &__callback {
        color: #fff;
        border-color: #fff;
        margin-top: 10px;
    }

    &__time {
        color: #fff;

        .time-work__info {
            color: #fff;
        }
    }

    &__accept {
        margin-top: 13px;
    }

    &__item {
        margin-bottom: 14px;
    }
}

.footer .form__group {
    width: 100%;
    margin: 0px 20px 0px;
}

.footer .form__input {
    width: 593px;
}

.footer__menu .menu__item {
    margin-bottom: 16px;
}

.footer__menu .menu__link {
    font-weight: 400;
    letter-spacing: -.015em;
}

.afford {
    padding-bottom: 17px;
    border-bottom: 1px dashed #f5f5f5;

    &__title {
        font-size: 16px;
        color: #f6bf45;
        letter-spacing: -.015em;
    }
}

.accept {
    &__title {
        font-size: 16px;
        color: #f6bf45;
        letter-spacing: -.015em;
    }

    &__inner {
        margin-top: 13px;
        justify-content: space-between;
    }

    &__item {
        margin-right: 10px;
    }
}

.info {
    padding: 63px 0px 0px;

    &__title {
        margin-bottom: 20px;
    }

    &__p {
        margin-bottom: 29px;
    }
}

.catalog-goods {
    margin-top: 51px;
}

.catalog-precent {
    margin-top: 0;
}

.c-dots {
    &__image {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 1.1em 7.6em 7.6em 1.1em/ 1.1em 7.6em 7.6em 1.1em;
        margin-bottom: 7px;
        opacity: .5;
        transition: opacity 0.3s ease-out;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.c-dots__image.active {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.card {
    &__dots {
        flex-direction: column;
    }

    &__row {
        margin-top: 35px;
    }

    &__title {
        text-transform: none;
    }

    &__big {
        width: 650px;
        flex: 1 0 auto;
    }

    &__carousel {
        width: 550px;
        margin-right: 10px;
    }

    &__content {
        flex: auto;
        padding-left: 40px;
    }

    &__info {
        margin-top: 38px;
        padding-bottom: 60px;
        background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;
    }
}

.c-carousel {
    &__image {
        width: 100%;
        height: 425px;
        object-fit: cover;
        border-radius: 0.5em 0.5em 7.6em 7.6em/ 0.5em 0.5em 1.1em 1.1em;
    }
}

.c-content {
    &__description {
        margin-top: 10px;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -.010em;
    }

    &__icons {
        margin-top: 26px;
    }

    &__using {
        padding: 12px 0px;
        margin-top: 33px;
        background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
        background-position: top;
        background-size: 6px 1px;
        background-repeat: repeat-x;
    }

    &__buttons {
        // margin: 27px 0px 0px;
        padding: 32px 0px 0px;
        justify-content: space-between;
        background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
        background-position: top;
        background-size: 6px 1px;
        background-repeat: repeat-x;
    }

    &__btn {
        min-height: 59px;
        border-radius: 35px;
        padding: 10px 13px;
    }

    &__presence {
        margin-left: 12px;
    }
}

.content__btn {
    text-decoration: none;
    font-size: 12px;
}

.c-using {
    align-items: center;
    justify-content: space-between;

    &__price {
        font-size: 34px;
        font-weight: 500;
        color: #000;
        letter-spacing: -.025em;

        &_old {
            color: #9d9d9d;
            font-size: 18px;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                width: 130%;
                height: 2px;
                left: -15%;
                right: 0;
                top: 50%;
                transform: translateY(-50%) rotate(10deg);
                background-color: #9d9d9d;
            }
        }
    }
}

.c-info {
    &__row {
        margin-top: 15px;
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -.010em;
    }

    &__col {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.c-table {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -.010em;
    max-width: 190px;
    min-width: 185px;

    &__row {
        padding: 13px 0px;
        background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;

        &:first-child {
            padding-top: 0px;
        }
    }

    &__col {
        flex: 1 1 50%;

        &:first-child {
            color: #777777;
            margin-right: 30px;
        }
    }
}

.c-icons {
    justify-content: space-between;

    &__name {
        font-size: 11px;
        font-weight: 500;
        letter-spacing: -.010em;
        margin-top: 4px;
    }

    &__item {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
}

.code {
    font-weight: 500;
    font-size: 16px;
    align-items: center;

    &:after {
        content: '';
        background-image: linear-gradient(to right, #c3c3c3 30%, rgba(255, 255, 255, 0) 0);
        background-position: left;
        background-size: 4px 1px;
        background-repeat: repeat-x;
        width: 18px;
        height: 2px;
        transform: rotate(-76deg);
        margin-left: 15px;
    }

    &__name {
        color: #777777;
    }

    &__value {
        text-transform: uppercase;
        margin-left: 3px;
    }
}

.presence {
    &__text {
        font-size: 16px;
        color: #7da308;
        display: inline-block;
        vertical-align: top;

        &_out {
            color: red;
        }
    }

    &__icon {
        &_check-green {
            border: 2px solid #7da308;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            display: inline-block;
            position: relative;
            position: relative;
            top: 1px;

            &:before {
                content: '✓';
                position: absolute;
                top: calc(50% - 2px);
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 15px;
                color: #7da308;
                font-weight: 700;
            }
        }
    }
}

.economy {
    margin-top: 65px;

    &__grid {
        background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0);
        background-position: bottom;
        background-size: 8px 2px;
        background-repeat: repeat-x;
        align-items: center;
    }

    &__title {
        text-transform: none;
        margin-bottom: 24px;
    }

    &__item {
        position: relative;
        text-align: center;
        margin-left: auto;
    }

    &__btn {
        position: relative;
        top: -40px;
        padding: 20px 10px;
        border-radius: 35px;
    }

    &__blot {
        &:after {
            content: '';
            position: absolute;
            left: -40px;
            top: 0;
            height: 100%;
            width: 17px;
            background-image: url(../img/brackets.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100%;
        }
    }
}

.economy .catalog__item:first-child {
    margin-right: 110px;
    position: relative;

    &:after {
        content: '+';
        display: flex;
        justify-content: center;
        line-height: 1;
        font-size: 200px;
        letter-spacing: .025em;
        font-family: 'BebasNeue';
        font-weight: 100;
        position: absolute;
        right: -100px;
        top: 40%;
        transform: translateY(-50%);
    }
}

.blot {
    background-image: url(../img/economy-back.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    min-height: 390px;
    display: flex;
    padding: 85px 15px 30px;
    justify-content: center;
    text-align: center;
    width: 375px;

    &__title {
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -.10em;
        color: #fff;
        max-width: 250px;
    }
}

.c-backet {
    position: relative;

    &__inner {
        position: absolute;
        width: 115px;
        background-color: #fff;
        border-radius: 25px;
        padding: 10px;
        left: -1px;
        top: -1px;
        padding: 1px;
        background: linear-gradient(to bottom, #f19b32, #ff5400);
        display: none;
        opacity: 0;
        transition: all 0.3s ease-in;
        z-index: 200;

        &_open {
            display: block;
            opacity: 1;
            transition: all 0.3s ease-in;
        }
    }

    &__btn {
        align-items: center;

        &:first-child {
            border-bottom: 1px dashed #c1c1c1;
        }

        padding-top: 7px;
        padding-bottom: 7px;
    }

    &__icon {
        min-width: 20px;
        min-height: 16px;
    }

    &__box {
        background-color: #fff;
        padding: 0.33em 0.7em;
        border-radius: 25px;
    }

    &__text {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: -.025em;
        margin-left: 5px;
        font-weight: 500;

        &_orange {
            color: #f19b32;
        }

        &_red {
            color: #ff5400;
        }
    }
}

// owl
.owl-stage-outer {
    overflow: hidden;
}

.owl-stage {
    display: flex;
}

.owl-nav.disabled {
    display: none;
}

.card__carousel .owl-nav {
    display: none;
}

// quantity
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantity {
    position: relative;

    &__input {
        padding: 0;
        margin: 0;
        border: 1px solid #eee;
        border-radius: 35px;
        padding: 0px 33px;
        text-align: center;
        width: 99px;
        height: 48px;
        outline: none;
        font-size: 20px;
        letter-spacing: -.025em;
        color: #6e6e6e;
    }

    &__nav {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 17px);
    }

    &__button {
        position: relative;
        cursor: pointer;
        width: 20px;
        height: 20px;
        text-align: center;
        color: #a1a1a1;
        font-size: 13px;
        user-select: none;
        background-image: url(../img/quantity__arrow.png);
        background-repeat: no-repeat;
        background-position: center center;

        &_up {
            position: absolute;
            top: 0;
            right: 0;
            transform: rotate(180deg);
        }

        &_down {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}


.news-inner {
    font-size: 16px;
    letter-spacing: -.010em;
    line-height: 24px;

    &__row {
        margin-top: 31px;
    }

    &__descr {
        padding-left: 35px;
    }

    &__image {
        width: 655px;
        height: 380px;
        object-fit: cover;
        border-radius: 10px;
    }

    &__p {
        margin-bottom: 20px;

        &_border-left {
            padding-left: 17px;
            position: relative;


            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 2px;
                background-color: #f6c145;
            }
        }
    }

    &__bottom {
        margin-top: 50px;
        padding-top: 40px;
        padding-bottom: 50px;
        background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0);
        background-position: top;
        background-size: 6px 1px;
        background-repeat: repeat-x;
        align-items: center;
    }

}

.small {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.news-inner__descr .news-inner__p {
    margin-bottom: 28px;
}

.contacts {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 200;

    &__item {
        align-items: center;
    }

    &__block {
        margin-left: auto;
        background-color: #fff;
        width: 430px;
        min-height: 215px;
        box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.18);
        border-radius: 10px;
        padding: 35px 35px 35px;
        margin-bottom: 15px;

        &_info {
            padding: 20px 30px 40px;
        }
    }

}

.contacts__phone .phone__big {
    font-size: 18px;
    font-weight: 400;
}


.map {
    min-height: 885px;
}

.map [class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
}


.form {

    &__text {
        font-size: 16px;
        letter-spacing: -.010em;
        line-height: 24px;
        font-weight: 500;
    }
}

.form__inner.row {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 28px;
}

.form-callback .form__group {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.form-callback .form__input {
    border: 1px solid #959595;
    height: 43px;
    color: #959595;
    font-size: 16px;
}


.delivery {
    font-size: 16px;
    letter-spacing: -.010em;

    &__row {
        background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0);
        background-position: bottom;
        background-size: 6px 1px;
        background-repeat: repeat-x;
        padding-bottom: 52px;
        padding-top: 50px;

        &:last-child {
            background-image: none;
        }
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 400;
        font-family: AvenirNextCyr;
    }

    &__payment {
        margin-left: -15px;
        margin-right: -15px;
    }

    &__subtitle {
        margin-top: 0px;
        margin-bottom: 15px;
    }

    &__col {
        flex: 1 1 50%;

        &_30 {
            flex-basis: 30%;
        }

        &_70 {
            flex-basis: 70%;
        }

        &_60 {
            flex-basis: 60%;
        }
    }

    &__payment {
        margin-top: 31px;
        margin-bottom: 45px;
    }

    &__descr {
        margin-top: 15px;
        font-size: 24px;
        letter-spacing: -.010em;
    }
}

.delivery__list .list__item {
    margin-bottom: 15px;
    margin-right: 15px;
    color: #8b8b8b;
    font-weight: 500;
}

.list {
    list-style: none;

    &_inline {
        display: flex;
    }

    &__regular {
        color: #000;
    }
}

.payment {

    &__text {
        margin-left: 8px;
    }

    &__col {
        align-items: center;
    }

}

.pannier {

    &__row {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        flex: 1;
        margin-left: 15px;
    }

    &__col {
        align-items: center;
    }

    &__item {
        align-items: flex-start;
        padding-top: 35px;
        padding-bottom: 15px;
        background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0);
        background-position: top;
        background-size: 6px 1px;
        background-repeat: repeat-x;
    }

    &__name {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -.10em;
    }

    &__header {
        flex-direction: column;
    }

    &__bottom {
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }


    &__image {
        border-radius: .5em .5em 7.6em 7.6em/.5em .5em 1.1em 1.1em;
        width: 118px;
        height: 98px;
    }
}


// icons
.icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    display: block;
}

.nav__icon_one {
    background-image: url(../img/nav__icon_one.png);
    width: 52px;
    height: 45px;
}

.nav__icon_one {
    background-image: url(../img/nav__icon_one.png);
    width: 52px;
    height: 45px;
}

.nav__icon_icon-suhofrukti {
    width: 47px;
    height: 51px;
    background-image: url(../img/icon-suhofrukti.png);
}

.nav__icon_icon-cucati {
    width: 63px;
    height: 47px;
    background-image: url(../img/icon-cucati.png);
}

.nav__icon_icon-sladosti {
    width: 45px;
    height: 41px;
    background-image: url(../img/icon-sladosti.png);
}

.nav__icon_icon-med {
    width: 42px;
    height: 40px;
    background-image: url(../img/icon-med.png);
}

.nav__icon_icon-tea {
    width: 77px;
    height: 58px;
    background-image: url(../img/icon-tea.png);
}

.nav__icon_icon-prianosti {
    width: 90px;
    height: 47px;
    background-image: url(../img/icon-prianosti.png);
}

.nav__icon_icon-suchonie {
    width: 49px;
    height: 44px;
    background-image: url(../img/icon-suchonie.png);
}

.nav__icon_icon-podarochnie {
    width: 49px;
    height: 44px;
    background-image: url(../img/icon-podarochnie.png);
}

.nav__icon_icon-carskiy-podpison {
    width: 53px;
    height: 55px;
    background-image: url(../img/icon-carskiy-podpison.png);
}

.goods__icon_one {
    background-image: url(../img/goods__icon_one.png);
    width: 132px;
    height: 132px;
}

.goods__icon_two {
    background-image: url(../img/goods__icon_two.png);
    width: 132px;
    height: 132px;
}

.goods__icon_three {
    background-image: url(../img/goods__icon_three.png);
    width: 132px;
    height: 132px;
}

.goods__icon_four {
    background-image: url(../img/goods__icon_four.png);
    width: 132px;
    height: 132px;
}

.goods__icon_five {
    background-image: url(../img/goods__icon_five.png);
    width: 132px;
    height: 132px;
}

.goods__icon_six {
    background-image: url(../img/goods__icon_six.png);
    width: 132px;
    height: 132px;
}

.goods__icon_seven {
    background-image: url(../img/goods__icon_seven.png);
    width: 132px;
    height: 132px;
}

.goods__icon_eight {
    background-image: url(../img/goods__icon_eight.png);
    width: 132px;
    height: 132px;
}

.goods__icon_nine {
    background-image: url(../img/goods__icon_nine.png);
    width: 132px;
    height: 132px;
}

.goods__icon_ten {
    background-image: url(../img/goods__icon_ten.png);
    width: 132px;
    height: 132px;
}

.icon-basket_yellow {
    background-image: url(../img/basket-icon.png);
    width: 20px;
    height: 16px;
}

.icon-click_orange {
    background-image: url(../img/icon-buy-one-click.png);
    width: 13px;
    min-width: 13px;
    min-height: 19px;
}

// srpite-icon
.icon-sprite {
    display: inline-block;
    vertical-align: middle;
}

.icon-articul-gray-line {
    background-image: url(../img/sprite.png);
    background-position: -242px -100px;
    width: 9px;
    height: 23px;
}

.icon-basket {
    background-image: url(../img/sprite.png);
    background-position: -206px 0px;
    width: 21px;
    height: 21px;
}

.icon-basket_white {
    background-image: url(../img/sprite.png);
    background-position: -206px -135px;
    width: 20px;
    height: 16px;
}

.icon-bodrost {
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    width: 41px;
    height: 41px;
}

.icon-book {
    background-image: url(../img/sprite.png);
    background-position: -37px -179px;
    width: 17px;
    height: 16px;
}

.icon-btn-basket {
    background-image: url(../img/sprite.png);
    background-position: -206px -104px;
    width: 20px;
    height: 16px;
}

.icon-btn-click {
    background-image: url(../img/sprite.png);
    background-position: -242px -66px;
    width: 13px;
    height: 19px;
}

.icon-btn-gift {
    background-image: url(../img/sprite.png);
    background-position: -127px -134px;
    width: 22px;
    height: 21px;
}

.icon-btn-knife {
    background-image: url(../img/sprite.png);
    background-position: -164px -134px;
    width: 21px;
    height: 21px;
}

.icon-btn-mail {
    background-image: url(../img/sprite.png);
    background-position: 0px -179px;
    width: 22px;
    height: 16px;
}

.icon-calendar {
    background-image: url(../img/sprite.png);
    background-position: -242px -138px;
    width: 14px;
    height: 16px;
}

.icon-callback-orange {
    background-image: url(../img/sprite.png);
    background-position: -206px -36px;
    width: 21px;
    height: 19px;
}

.icon-fb {
    background-image: url(../img/sprite.png);
    background-position: -112px -49px;
    width: 31px;
    height: 30px;
}

.icon-icon-point {
    background-image: url(../img/sprite.png);
    background-position: -242px -33px;
    width: 14px;
    height: 18px;
}

.icon-insta {
    background-image: url(../img/sprite.png);
    background-position: 0px -134px;
    width: 30px;
    height: 30px;
}

.icon-intelect {
    background-image: url(../img/sprite.png);
    background-position: -56px 0px;
    width: 41px;
    height: 40px;
}

.icon-libido {
    background-image: url(../img/sprite.png);
    background-position: -158px -91px;
    width: 28px;
    height: 26px;
}

.icon-line-menu {
    background-image: url(../img/sprite.png);
    background-position: -82px -56px;
    width: 10px;
    height: 28px;
}

.icon-person {
    background-image: url(../img/sprite.png);
    background-position: -242px 0px;
    width: 16px;
    height: 18px;
}

.icon-pros_one {
    background-image: url(../img/sprite.png);
    background-position: -86px -134px;
    width: 26px;
    height: 21px;
}

.icon-pros_three {
    background-image: url(../img/sprite.png);
    background-position: -112px -94px;
    width: 26px;
    height: 25px;
}

.icon-pros_two {
    background-image: url(../img/sprite.png);
    background-position: -45px -134px;
    width: 26px;
    height: 23px;
}

.icon-search {
    background-image: url(../img/sprite.png);
    background-position: -206px -70px;
    width: 20px;
    height: 19px;
}

.icon-shastiye {
    background-image: url(../img/sprite.png);
    background-position: -112px 0px;
    width: 31px;
    height: 34px;
}

.icon-social-line_orange {
    background-image: url(../img/sprite.png);
    background-position: 0px -56px;
    width: 21px;
    height: 63px;
}

.icon-stroinost {
    background-image: url(../img/sprite.png);
    background-position: -36px -56px;
    width: 31px;
    height: 34px;
}

.icon-vk {
    background-image: url(../img/sprite.png);
    background-position: -158px -45px;
    width: 31px;
    height: 31px;
}

.icon-zdorovie {
    background-image: url(../img/sprite.png);
    background-position: -158px 0px;
    width: 33px;
    height: 30px;
}