/*= ../../bower_components/owl.carousel/dist/assets/owl.carousel.min.css*/
/*= ../../bower_components/owl.carousel/dist/assets/owl.theme.default.css*/

@import "partials/vars";
@import "partials/mixin";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    margin-right: 0 !important;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

p {
    margin: 0px 0px 10px;
}

a {
    color: #3a3a3a;
    cursor: pointer;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

body {
    font-family: 'AvenirNextCyr';
    font-weight: normal;
    font-style: normal;
    width: 100%;
    height: 100%;
    min-width: 320px;
    position: relative;
    z-index: 20;
    font-size: 18px;
    line-height: normal;
    background-color: #ffffff;
    color: #292929;
}

.box-center {
    text-align: center
}


.wrapper {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.main {
    position: relative;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1130px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}




// titles


.title-box {
    align-items: center;
}

.title {
    color: #292929;
    font-weight: normal;
    margin: 0px;
    text-transform: uppercase;


    &_h1 {
        font-size: 120px;
        line-height: 94px;
        letter-spacing: -.010em;
        color: #fff;
        font-family: 'BebasNeueBook';
    }

    &_h2 {
        font-family: 'AvenirNextCyr';
        font-weight: 100;
        font-style: normal;
        font-size: 60px;
        letter-spacing: .025em;
    }

    &_h3 {
        font-family: 'AvenirNextCyr';
        font-size: 34px;
        letter-spacing: .025em;
        font-weight: 300;
        font-style: normal;

    }

    &_h4 {
        font-family: 'AvenirNextCyr';
        font-size: 22px;
        letter-spacing: .025em;
        font-weight: 300;
        font-style: normal;
    }
}

// titles default


h1 {
    margin-top: 20px;
    margin-bottom: 30px
}

h2 {
    margin-top: 20px;
    margin-bottom: 30px;
}

h3,
h4,
h5,
h6 {
    margin-top: 15px;
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'BebasNeueBook';
    font-weight: normal;
}


// buttons



.btn {
    position: relative;
    color: $yellow;
    font-weight: 500;
    border: 1px solid $yellow;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-size: 12px;
    letter-spacing: .025em;
    text-transform: uppercase;
    min-height: 45px;
    padding: 5px 25px;
    background-color: transparent;
    cursor: pointer;

    &_gradient-yellow {
        background: linear-gradient(90deg, #f2a236, #f6bf45);
    }

    &_bgr-orange{
        background-color: #ff5400;
        color: #fff;
    }

    &_bgr-yellow{
        background-color: #f19b32;
        color: #fff;
    }

}


.header {

    &_box-shadow {
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    }

    &__top {
        min-height: 60px;
        background-color: #353535;
        background-image: url(../img/header__top_back.png);
        background-repeat: repeat;
        background-position: center center;
        background-size: contain;
    }

    &__center {
        justify-content: space-between;
        align-items: center;
    }

    &__bottom {
        margin: 44px 0px 0px;
        margin-left: -15px;
        margin-right: -15px;
    }

    &__content {
        padding: 37px 0px 35px;
    }


    &__container {
        min-height: inherit;
    }

    &__menu {
        align-items: center;
        min-height: inherit;
        justify-content: space-between;
    }

    &__item {

        &_flex-column {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__basket {
        margin-left: 15px;
    }

}


.menu {
    list-style: none;


    &__link {
        font-size: 14px;
        line-height: normal;
        font-weight: 500;
        color: #fff;
        letter-spacing: -.025em;

        &_border-btm {
            padding-bottom: 3px;
            border-bottom: 1px dashed #c5c5c5;
        }

        &_arrow-down {

            &:after {
                content: '';
                display: inline-block;
                vertical-align: middle;
                border: solid #fff;
                border-width: 0 2px 2px 0;
                position: relative;
                top: -2px;
                display: inline-block;
                padding: 2px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                margin-left: 5px;
            }

        }
    }
}

.search {
    border-radius: 50%;
    border: 1px solid;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket {
    border-radius: 50%;
    border: 1px solid;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: relative;

    &__figure {
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translateY(-50%);
        min-width: 25px;
        height: 20px;
        display: inline-block;
        background-color: #fff;
        border: 1px solid $yellow;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

    }

    &__count {
        font-size: 11px;
        letter-spacing: .025em;
        font-family: 'Intro';
        font-weight: 700;
        color: $yellow;
    }
}

.breadcrumbs {

    margin: 48px 0px 0px;
    font-weight: 700;
    font-size: 14px;
    color: #8d8d8d;

    &__item {
        text-decoration: underline;

        &:after {
            content: '/';
            margin: 0px 10px;
            font-size: inherit;
            font-weight: 300;
            text-decoration: none;
        }

        &:last-child {

            &:after {
                display: none;
            }

        }
    }

    &__link {
        color: #8d8d8d;
    }
}


.phone {

    color: #3a3a3a;
    font-family: 'Intro';
    font-size: 16px;

    &__big {
        font-size: 26px;
    }
}

.mail {
    font-family: 'Intro';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    letter-spacing: .025em;
    text-decoration: underline;
}


.callback {
    font-family: 'Intro';
    font-size: 10px;
    line-height: 16px;
    color: #393939;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .025em;
    border-bottom: 1px dashed #393939;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}

.time-work {
    font-family: 'Intro';
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .025em;
    line-height: 16px;
    font-weight: 700;
    font-style: normal;
    color: #8a8a8a;

    &__info {
        color: #393939;
    }


}

.nav {
    &__list {
        justify-content: space-between;
    }

    &__icon {
        margin: 0 auto;
    }


    &__item {
        padding: 0px 15px;
        text-align: center;
        font-size: 12px;
        line-height: normal;
        flex: 1 1 auto;
        max-width: 135px;

        &_flex-col {
            flex-direction: column;
        }
    }

    &__text {
        margin-top: 3px;
        display: block;
        text-transform: uppercase;
        color: #2d2d2d;
        font-weight: 500;
        font-style: normal;
    }


}


.social {
    list-style: none;

    &__link {
        background-color: #393939;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin: 0px 5px;
    }
}

.promo {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
    color: #fff;
    padding: 20px 0px 0px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        // background-image: url(../img/promo__image_overlay.jpg.png);
        // background-repeat: no-repeat;
        background-position: center center;
        background-color: rgba(#000, 0.6);
        z-index: -1;
    }

    &__description {
        font-family: 'BebasNeueBook';
        font-weight: normal;
        font-size: 38px;
        line-height: 38px;
        letter-spacing: .025em;
        padding-top: 38px;
        margin-top: 44px;
        border-top: 2px dotted #fff;
    }


    &__row {
        justify-content: space-between;
        height: 747px;

    }

    &__col {
        height: inherit;
        flex-direction: column;
        flex: 1 1 auto;
        position: relative;
        z-index: 1;

        &_back-red {

            &:before {
                content: '';
                position: absolute;
                background: rgba(#8f0101, 0.8);
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        }

        &_vert-center {
            justify-content: center;

        }

        &_align-end {
            align-items: flex-end;
        }
    }

    &__pros {
        max-width: 370px;
    }
}


.pros {
    font-family: 'BebasNeue';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
    color: #fff;

    &__circle {
        min-width: 66px;
        min-height: 66px;
        width: 66px;
        height: 66px;
        border-radius: 50%;
        border: 2px dotted #fff;
        margin-right: 16px;
        flex: 1;
    }

    &__item {
        align-items: center;
        margin-bottom: 70px;
    }


    &__text {
        letter-spacing: .035em;
    }
}

.catalog {
    margin: 45px 0px 0px;

    &__row {
        margin-top: 33px;
        margin-left: -7.5px;
        margin-right: -7.5px
    }

    &__item {
        width: 25%;
        min-width: 260px;
        margin-bottom: 65px;
        padding-right: 7.5px;
        padding-left: 7.5px;
    }

    &__name {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
    }

    &__content {
        margin-top: 14px;
        padding: 0px 15px;
    }

    &__text {
        margin-top: 10px;
        font-size: 14px;
        letter-spacing: -.010em;
    }

    &__using {
        justify-content: space-between;
        align-items: center;
        margin-top: 19px;
    }

    &__image {
        border-radius: 0.5em 0.5em 7.6em 7.6em/ 0.5em 0.5em 1.1em 1.1em;
    }

    &__price {
        flex-direction: column;
    }

    &__more {
        text-align: center;
        position: relative;
        width: 200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-weight: 700;
        font-size: 11px;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: .025em;
        text-decoration-style: dashed;

        &:after {
            content: '';
            position: relative;
            top: -45px;
            width: 140px;
            min-height: 75px;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
            border: 1px dashed gray;
            border-top: 0;
        }

        &:before {
            content: '';
            border: solid #000;
            border-width: 0 1px 1px 0;
            position: relative;
            top: -2px;
            display: inline-block;
            padding: 4px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            margin-bottom: 6px;
        }
    }

    &__basket {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 1px solid $yellow;
    }
}


.h-price {

    &__value {
        font-weight: 700;
        letter-spacing: -.025em;
    }
}

.precent {
    margin: 16px 0px 0px;
    background-image: url(../img/feedback__image_one.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 80px 0px 58px;

    &__col {
        width: 50%;
        flex: 0;
    }

    &__form {
        width: 460px;
        max-width: 100%;
    }

    &__row {
        justify-content: space-between;
    }

    &__title {
        font-size: 150px;
        line-height: 120px;
        letter-spacing: -.025em;
        font-family: 'BebasNeueBook';
        color: #fff;
    }
}

.form {

    &__group {
        margin-bottom: 22px;
    }

    &__input {
        width: 100%;
        height: 60px;
        font-size: 22px;
        letter-spacing: -.015em;
        border: none;
        padding: 0px 20px;
        border-radius: 30px;
    }

    &__btn {
        font-weight: bold;
        color: $mainColor;
        background: linear-gradient(90deg, #f2a236, #f6bf45);
        min-height: 60px;
        border-radius: 30px;
        font-size: 16px;
        border: none;
    }
}

.advs {
    margin: 54px 0px 0px;

    &__col {
        width: 150px;
    }

    &__row {
        justify-content: space-between;
        margin-top: 29px;
    }

    &__item {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    &__text {
        margin-top: 20px;
        font-weight: 700;
        font-size: 11px;
        text-transform: uppercase;
    }
}


.goods {
    margin: 52px 0px 0px;

    &__item {
        width: 20%;
        margin-bottom: 49px;
        padding-right: 7.5px;
        padding-left: 7.5px;

        &_width-25 {
            width: 25%;
        }
    }

    &__head {
        position: relative;
    }

    &__image {
        object-fit: cover;
        height: 203px;
        border-radius: 0.5em 0.5em 7.6em 7.6em/ 0.5em 0.5em 1.1em 1.1em;
    }

    &__circle {
        position: absolute;
        width: 135px;
        height: 135px;
        border-radius: 50%;
        border: 2px dotted #fff;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    &__name {
        text-align: center;
        margin-top: 18px;
        font-size: 16px;
        font-weight: 700;
    }

    &__row {
        margin-top: 34px;
        margin-left: -7.5px;
        margin-right: -7.5px;
    }
}


.recipe {
    padding: 106px 0px 105px;
    background-image: url(../img/feedback__image_two.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 27px 0px 0px;


    &_bgr-catalog {
        background-image: url(../img/catalog-recipe_back.jpg);
    }


    &__row {
        width: 1035px;
        margin: 0 auto;
        justify-content: space-between;
        margin-top: 22px;
    }

    &__title {
        margin: 0px;
        font-family: 'BebasNeueBook';
        font-size: 72px;
        letter-spacing: -.010em;
        color: #fff;
        text-align: center;
    }

    &__btn {
        margin: 40px auto 0px;
    }

}

.recipe__row .form__group {
    margin: 0px 40px;
    width: 100%;
}


.news {
    margin: 55px 0px 0px;

    &__description {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -.010em;
    }

    &__row {
        margin-top: 34px;
        margin-left: -7.5px;
        margin-right: -7.5px;
    }

    &__item {
        width: 33.33%;
        padding-right: 7.5px;
        padding-left: 7.5px;
    }

    &__image {
        width: 100%;
        height: 225px;
        object-fit: cover;
        border-radius: 0.5em 0.5em 7.6em 7.6em/ 0.5em 0.5em 1.1em 1.1em;
    }

    &__date {
        color: #b8b8b8;
        letter-spacing: -.025em;
        font-size: 14px;
    }

    &__name {
        margin-top: 8px;
        font-weight: 700;
        font-size: 16px;
    }

    &__text {
        margin-top: 8px;
        font-size: 14px;
        letter-spacing: -.010em;
    }

    &__content {
        margin-top: 20px;
        padding: 0px 15px;
    }

    &__more {
        font-size: 14px;
        font-weight: 700;
        margin-top: 44px;
        display: inline-block;
        vertical-align: middle;
    }
}


.footer {
    margin-top: 65px;
    background-color: #353535;
    background-image: url(../img/footer_back.png);
    background-repeat: repeat;
    background-position: center center;
    background-size: contain;
    color: #fff;

    &__top {
        align-items: center;
        min-height: 130px;
        padding: 20px 0px;
    }

    &__bottom {
        padding: 45px 0 32px;
        justify-content: space-between;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: -100%;
            right: auto;
            background-color: rgba(#1e1e1e, 0.5);
            width: 1000%;
            height: 100%;
            z-index: -1;

        }
    }

    &__title {
        color: #fff;
        flex: 0 0 auto;
        width: 252px;
    }

    &__form {
        align-items: flex-start;
        flex: 1 1 auto;
    }

    &__item {


        &_flex-column {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__phone {
        color: #fff;
    }

    &__callback {
        color: #fff;
        border-color: #fff;
        margin-top: 10px;
    }

    &__time {
        color: #fff;

        .time-work__info {
            color: #fff;
        }
    }

    &__accept {
        margin-top: 13px;
    }

    &__item {
        margin-bottom: 14px;
    }
}


.footer .form__group {
    width: 100%;
    margin: 0px 20px 0px;
}

.footer .form__input {
    width: 593px;
}

.footer__menu .menu__item {
    margin-bottom: 16px;
}

.footer__menu .menu__link {
    font-weight: 400;
    letter-spacing: -.015em;
}


.afford {
    padding-bottom: 17px;
    border-bottom: 1px dashed #f5f5f5;

    &__title {
        font-size: 16px;
        color: #f6bf45;
        letter-spacing: -.015em;
    }
}

.accept {

    &__title {
        font-size: 16px;
        color: #f6bf45;
        letter-spacing: -.015em;
    }

    &__inner {
        margin-top: 13px;
        justify-content: space-between;
    }

    &__item {
        margin-right: 10px;
    }
}


.info {
    padding: 63px 0px 0px;

    &__title {
        margin-bottom: 20px;
    }

    &__p {
        margin-bottom: 29px;
    }
}

.catalog-goods {
    margin-top: 13px;
}

.c-dots{

    &__image{
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 1.1em 7.6em 7.6em 1.1em/ 1.1em 7.6em 7.6em 1.1em;
        margin-bottom: 7px;
        opacity: .5;
        transition: opacity 0.3s ease-out;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.c-dots__image.active{
    opacity: 1;
    transition: opacity 0.3s ease-in;
}


.card {

    &__dots{
        flex-direction: column;
    }

    &__row{
        margin-top: 23px;
    }

    &__title {
        text-transform: none;
    }

    &__big {
        width: 650px;
        flex: 1 0 auto;
    }

    &__carousel{
        width: 550px;
        margin-right: 10px;
    }

    &__content {
        flex: auto;
        padding-left: 50px;
    }

    &__info{
        margin-top: 45px;
        padding-bottom: 60px;
        background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;
    }

}


.c-carousel{

    &__image{
        width: 100%;
        height: 425px;
        object-fit: cover;
        border-radius: 0.5em 0.5em 7.6em 7.6em/ 0.5em 0.5em 1.1em 1.1em;
    }
}


.c-content {

    &__description {
        margin-top: 13px;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -.010em;
    }

    &__icons {
        margin-top: 26px;
    }

    &__using {
        padding: 12px 0px;
        margin-top: 33px;
        background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
        background-position: top;
        background-size: 6px 1px;
        background-repeat: repeat-x;
    }

    &__buttons {
        margin: 27px 0px 0px;
        justify-content: space-between;
    }



}

.content__btn{
        text-decoration: none;
        font-size: 12px;
    }

.c-using{
    align-items: center;
    justify-content: space-between;

    &__price{
        font-size: 24px;
        font-weight: 500;
        color: #000;
        letter-spacing: -.025em;

        &_old{
            color: #9d9d9d;
            font-size: 18px;
            position: relative;

            &:before{
                content: '';
                position: absolute;
                width: 130%;
                height: 2px;
                left: -15%;
                right: 0;
                top: 50%;
                transform: translateY(-50%) rotate(10deg);
                background-color: #9d9d9d;
            }
        }
    }
}


.c-info{

    &__row{
        margin-top: 15px;
    }

    &__text{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -.010em;
    }

}


.c-table{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -.010em;
    max-width: 190px;
    min-width: 185px;

    &__row{
        padding: 13px 0px;
        background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;

        &:first-child{
            padding-top: 0px;
        }
    }

    &__col{
        flex: 1 1 50%;

        &:first-child{
            color: #777777;
            margin-right: 30px;
        }

        &:last-child{

        }
    }

}

.c-icons {

    justify-content: space-between;

    &__name {
        font-size: 11px;
        font-weight: 500;
        letter-spacing: -.010em;
    }
}


.code {
    font-weight: 500;
    font-size: 16px;

    &__name {
        color: #777777;
    }

    &__value {
        text-transform: uppercase;
        margin-left: 3px;
    }
}

.presence {

    &__text {
        font-size: 16px;
        color: #7da308;

        &_out {

            color: red;

        }
    }


}


// owl

.owl-stage-outer{
    overflow: hidden;
}

.owl-stage{
    display: flex;
}

.card__carousel .owl-nav{
    display: none;
}


// icons

.icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    display: block;
}

.nav__icon_one {
    background-image: url(../img/nav__icon_one.png);
    width: 52px;
    height: 45px;
}

.goods__icon_one {
    background-image: url(../img/goods__icon_one.png);
    width: 132px;
    height: 132px;
}