.hamburger {
    display: none;
}

.mobile-sidebar {
    &__contact {
        display: none;
    }
    &__city {
        display: none;
    }
    &__social {
        display: none;
    }
    &__menu {
        display: none;
    }
}

@media only screen and (max-width: 1023px) {
    .mobile-sidebar {
        &__contact {
            display: flex
        }
        &__city {
            display: flex;
        }
        &__social {
            display: block;
        }
        &__menu {
            display: block;
        }
    }
    .hamburger {
        margin-left: 30px;
        display: block;
        position: absolute;
        top: 20px;
        right: 15px;
    }
    .hamburger .line {
        width: 45px;
        height: 3px;
        background-color: #f2a236;
        display: block;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;
    }
    .hamburger:hover {
        cursor: pointer;
    }
    #hamburger-6.is-active {
        transition: all .25s cubic-bezier(.25, .46, .45, .94);
        transition-delay: 0.3s;
        transform: rotate(45deg);
    }
    #hamburger-6.is-active .line:nth-child(2) {
        width: 0px;
    }
    #hamburger-6.is-active .line:nth-child(1),
    #hamburger-6.is-active .line:nth-child(3) {
        transition-delay: 0.2s;
    }
    #hamburger-6.is-active .line:nth-child(1) {
        transform: translateY(10px);
    }
    #hamburger-6.is-active .line:nth-child(3) {
        transform: translateY(-8px) rotate(90deg);
    }
    html.hidden {
        width: 100%;
        position: relative;
        overflow: hidden;
        z-index: 9999;
        background-color: rgba(#000, 0.7);
    }
    .main.blur {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 10;
            background-color: rgba(#000, 0.7);
        }
    }
    .mobile-sidebar__menu {
        display: flex;
    }
    .mobile-sidebar {
        opacity: 0;
        visibility: hidden;
        display: block;
        flex-direction: column;
        width: 275px;
        top: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        position: fixed;
        background-color: #fff;
        padding: 5px 0px 20px;
        overflow-y: auto;
        z-index: 9999;
        transition: all .45s cubic-bezier(.25, .46, .45, .94);
        transform: translateX(-50%);
    }
    .mobile-sidebar__active {
        opacity: 1;
        visibility: visible;
        transition: all .65s cubic-bezier(.25, .46, .45, .94);
        transform: translateX(0%);
    }
    .mobile-sidebar .nav__dropdown {
        display: none;
    }
    .mobile-sidebar .nav__list {
        flex-wrap: wrap;
        justify-content: space-around;
        border-bottom: 1px solid #eee;
    }
    .mobile-sidebar__menu {
        flex-direction: column;
    }
    .mobile-sidebar__menu .menu__link {
        color: #000;
    }
    .mobile-sidebar .nav__item {
        flex: 1 1 33.33%;
        max-width: 33.33%;
        padding: 15px 0px 15px;
        text-transform: none;
    }
    .mobile-sidebar .nav__text {
        font-size: 11px;
    }
    .mobile-sidebar .nav__link {
        min-height: auto;
    }
    .mobile-sidebar .nav__icon {
        width: 25px;
        height: 25px;
    }
    .mobile-sidebar__menu {
        border-bottom: 1px solid #eee;
    }
    .mobile-sidebar__menu .menu__item {
        padding: 10px 15px 10px;
        background-image: linear-gradient(to right, #969696 10%, rgba(255, 255, 255, 0) 0);
        background-position: bottom;
        background-size: 6px 1px;
        background-repeat: repeat-x;
        &:last-child {
            background-image: none;
        }
    }
    .mobile-sidebar .nav__item:hover .nav__text,
    .mobile-sidebar .nav__item:active .nav__text,
    .mobile-sidebar .nav__item:focus .nav__text {
        color: #f2a236;
    }
    .mobile-sidebar .nav__item:hover:before {
        display: none;
    }
    .mobile-sidebar__contact {
        padding: 10px 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mobile-sidebar__social {
        padding: 20px 10px 0px;
    }
    .mobile-sidebar__phone {
        font-size: 16px;
    }
    .mobile-sidebar__phone .phone__big {
        font-size: 16px;
    }
    .sidebar-city {
        margin-bottom: 10px;
        &__item {
            flex: 1 1 50%;
            text-align: center;
            height: 40px;
            border-bottom: 1px solid #eee;
            border-top: 1px solid #eee;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__link {
            text-transform: uppercase;
            font-size: 12px;
        }
    }
    .sidebar-city__item.active {
        background: rgba(222, 11, 11, 0.8);
    }
    .sidebar-city__item.active .sidebar-city__link {
        color: #fff;
    }
}

@media only screen and (max-width: 767px) {
    .hamburger {
        top: 15px;
    }
    .hamburger .line {
        width: 35px;
        height: 3px;
        background-color: #f2a236;
        display: block;
        margin: 4px auto;
        transition: all 0.3s ease-in-out;
    }
    #hamburger-6.is-active .line:nth-child(1) {
        transform: translateY(10px);
    }
    #hamburger-6.is-active .line:nth-child(3) {
        transform: translateY(-5px) rotate(90deg);
    }
}
